<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PikaBoka"
        android:forceDarkAllowed="false">

        <!-- 메인 액티비티: 앱 런처 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 서브 액티비티: 내부 호출용, 외부 앱에서는 호출 안됨 -->
        <activity
            android:name=".ui.handwriting.HandwritingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.speech.SpeechActivity"
            android:exported="false" />
        <activity
            android:name=".ui.conversation.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.vocab.VocabActivity"
            android:exported="false" />
        <activity
            android:name=".ui.speech.SpeechCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.speech.SpeechSentenceListActivity"
            android:exported="false" />

    </application>
</manifest>
